<div class="col-md-8 col-centered">


  <div class="keep-wrapper training">
    <div class="title-wrapper">
      <h2>商品分类</h2>
      <p>丰富的课程规范你的训练过程</p>
    </div>
    <div class="container-fluid">
     	<div class="row">
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E6%96%B0%E6%89%8B%E5%85%A5%E9%97%A8.jpeg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%=link_to products_path(category: "新手入门") do %>新手入门<% end %>
            </div>
            <div class="count">7个课程</div>
          </div>
     		</div>

     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E5%A5%B3%E7%94%9F%E7%83%AD%E9%97%A8.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "零基础减脂", products_path(category: "零基础减脂") %>
            </div>
            <div class="count">4个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E7%91%9C%E4%BC%BD.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "瑜伽", products_path(category: "瑜伽") %>
            </div>
            <div class="count">11个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/1.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "女生热门", products_path(category: "女生热门") %>
            </div>
            <div class="count">5个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E6%94%B9%E5%96%84%E4%BD%93%E6%80%81.jpeg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "体态改善", products_path(category: "体态改善") %>
            </div>
            <div class="count">4个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E6%98%8E%E6%98%9F%E8%AF%BE%E7%A8%8B.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "明星课程", products_path(category: "明星课程") %>
            </div>
            <div class="count">1个课程</div>
          </div>
     		</div>

     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E8%85%B9%E8%82%8C%E8%AE%AD%E7%BB%83.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "腹肌训练", products_path(category: "腹肌训练") %>
            </div>
            <div class="count">11个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E6%B4%BB%E5%8A%9B%E7%AE%80%E7%9B%B4.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "活力燃脂", products_path(category: "活力燃脂") %>
            </div>
            <div class="count">1个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E5%8A%9B%E9%87%8F%E5%A2%9E%E8%82%8C.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "力量增肌", products_path(category: "力量增肌") %>
            </div>
            <div class="count">6个课程</div>
          </div>
     		</div>
        <div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E5%AE%B6%E5%BA%AD%E8%8B%8F%E9%86%92.jpeg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "家庭塑形", products_path(category: "家庭塑形") %>
            </div>
            <div class="count">2个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E9%A9%BE%E9%A9%B6%E5%91%98.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "特约驾驶员课程", products_path(category: "特约驾驶员课程") %>
            </div>
            <div class="count">2个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E6%9D%A0%E9%93%83%E3%80%81%E5%93%91%E9%93%83%E7%AD%89%E5%81%A5%E8%BA%AB%E5%99%A8%E6%9D%90.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "辅助训练产品", products_path(category: "辅助训练产品") %>
            </div>
            <div class="count">3个产品</div>
          </div>
     		</div>
        <div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E5%81%A5%E8%BA%AB%E6%9C%8D%E8%A3%85.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "专业训练服饰", products_path(category: "专业训练服饰") %>
            </div>
            <div class="count">3个产品</div>
          </div>
        </div>
        <div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E8%9B%8B%E7%99%BDfeng.jpeg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "健身蛋白粉", products_path(category: "健身蛋白粉") %>
            </div>
            <div class="count">3个产品</div>
          </div>
     		</div>

        <div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E9%9B%B6%E9%A3%9F.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "营养食品", products_path(category: "营养食品") %>
            </div>
            <div class="count">2个产品</div>
          </div>
     		</div>
        <div class="cover-card col-sm-3" style="background: url(http://oqdvtcm0m.bkt.clouddn.com/%E7%A7%81%E4%BA%BA%E6%95%99%E7%BB%83.jpg) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title"><%= link_to "私人教练", products_path(category: "私人教练") %>
            </div>
            <div class="count">3个课程</div>
          </div>
     		</div>
   		 </div>
     	</div>
      <div class="title-wrapper">
        <p>没有想要的分类</p>
        <span><%= link_to("全部商品", products_path) %></span>
      </div>
  </div>
</div>
